# 1
x = 3 ----> floata çevirelim. Çevirdikten sonra beri tipinide yazdıralım.

y = 4.5 -----> integere çevirelim. Çevirdikten sonra beri tipinide yazdıralım.

z = "8" -----> integera çevirelim. Çevirdikten sonra beri tipinide yazdıralım.

a = "12" -----> floata çevirelim. Çevirdikten sonra beri tipinide yazdıralım.

b = "46.8" ------> integera çevirelim. Çevirdikten sonra beri tipinide yazdıralım.

In [4]:
x=3
y=4.5
z="8"
a="12"
b="46.8"
print(float(x))
print(int(y))
print(int(z))
print(float(a))
print(int(float(b)))

print(type(float(x)))
print(type(int(y)))
print(type(int(z)))
print(type(float(a)))
print(type(int(float(b))))

3.0
4
8
12.0
46
<class 'float'>
<class 'int'>
<class 'int'>
<class 'float'>
<class 'int'>

# 2 
İsimlerden oluşan üç değişkene yaş değerleri atanır. Belirlenen üç değişken birbiriyle karşılaştırma operatörleri ile karşılaştırılır. Bu karşılaştırmalara mantıksal operatörler de eklenir.

In [5]:
simge=19
salih=25
ridvan=65
print(ridvan>simge)
print(simge<salih)
print(simge<ridvan and ridvan>salih)
print(not(simge>salih or ridvan==simge))

True
True
True
True

# 3
Kullanıcıdan iki değer girmesini istenir. Girilen değerlerin toplama, çıkarma, çarpma, bölme sonuçlarını yazdırılır.

In [9]:
a=int(input("kilonuzu giriniz."))
b=int(input("boyunuzu giriniz."))
print(a+b)
print(a-b)
print(a*b)
print(a/b)

220
-100
9600
0.375

# 4
Kullanıcıdan isim, yaş, şehir ve meslek bilgilerini istenir ve cevaplarını yazdırılır.

In [12]:
yaş=input("yaşınız?")
isim=input("adınız?")
şehir=input(" yaşadığınız şehir?")
meslek=input("mesleğiniz?")

print(yaş , isim , şehir , meslek)

19 esma adana ögrenci

# 5
"Hi-Kod Veri Bilimi Atölyesi" ifadesini bir değişkene tanımlanır.


 1. İfadedeki her bir kelimeyi ("Hi-Kod", "Veri", "Bilimi", "Atölyesi") değişken içinden seçilir. 
 2. İfadeyi hepsini büyük harf olacak hale çevrilir. ("HI-KOD VERİ BİLİMİ ATÖLYESİ") 
 3. İfadeyi hepsini büyük harf olacak hale çevrilir.("hi-kod veri bilimi atölyesi") 

"0123456789" ifadesindeki yalnızca çift sayıları ve yalnızca tek sayıları seçilir. ("02468", "13579")

In [45]:
x="Hi-Kod Veri Bilimi Atölyesi"
print(x[0:7])
print(x[7:11])
print(x[11:18])
print(x[18:27])

print(x.upper())
print( x.lower())

y="0123456789"
print(y[::2])
print(y[1::2])

Hi-Kod
Veri
 Bilimi
 Atölyesi
HI-KOD VERI BILIMI ATÖLYESI
hi-kod veri bilimi atölyesi
02468
13579